body {background-color: #718087;}
p {
    font-family: 'Titan One', cursive;
    padding-top: 50px;
}
button {
    height: 100px;
    width: 100px;
}
span {
    font-family: 'Titan One', cursive;
}
#cscore {
    padding-top: 0;
    float: right;
    width: 50%;
}
#gameShell {
    width: 500px;
    height: 700px;
    background-color: #e9e8dd;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}
#pscore {
    padding-top: 0;
    float: left;
    width: 50%;
}
#round {
    margin: 0 auto;
}
#rnd-box{
text-align: center
}